
<%- include("templates/header.ejs") %>
<script src="leaderboard.js"></script>
    <div class="container leaderboard">
        <h1 class="text-center text-dark" >Leaderboard</h1>
        <div id="scoreList"></div> 
    </div>

<%- include("templates/footer.ejs") %>
