* {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    box-sizing: border-box;
}

.appName {
    color: #ffffff;
    text-decoration: none !important;
}

body {
    background-color: #1a1515cb !important;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold; 
}

.nav-pills .nav-link.active{
      background-color: #ffffff !important; 
      color: #1a1515cb !important;
}

.nav-link{
    color: #ffffff !important;
}

.nav-pills .nav-link:hover{
    background-color: #F8EDB7 !important; 
    color: #C3311A !important;
}

.nav-pills .nav-link.active:hover,
.nav-pills .nav-link.active:focus{
    background-color: #F8EDB7 !important; 
    color: #C3311A  !important;
}

nav a{
    color: #000000;
    text-decoration: none;
    display: inline-block;
    width: 100%;
    padding: 12px;
    background-color: white;
}

nav a:hover{
    background-color: #000000;
    color: white;
}



.underline_B{
    border-bottom: 1px solid lightgrey;
}

.cardi {
    border: 1px solid lightgrey;
}

.cardi img{
    width: 100%;
}

footer{
    text-align: center;
    padding: 12px;
    color:#000000;
}

.float_right{
    clear: both;
    text-align: center;
}

.float_left{
    clear: both;
    display: none;
}s

h1{
    padding: 12px 0px;
    font-weight: bold;
    text-align: center;
}

h2{
    padding: 8px 0px;
    font-weight: bold;
}

.texty p{
    color: rgb(169, 169, 169);
}


@media screen and (min-width: 768px){

    .float_left{
        float: left;
        display: block;
        width: 10% !important;
        text-align: left;
    }
    
    .float_right{
        float: right;
        width: 90% !important;
        text-align: right;
    }

    nav a:hover{
        background-color: none;
        text-decoration: none;
    }
    
}

.leaderboard {
    background-color: #f8f9fa;
    padding-top: 20px;
}